<div class="row">
    <h1>Cursos y certificaciones</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">

        <ul>
            <li>
                <h1>Fullstack Developer</h1>
                <h3>- Argentina Programa (2021-2022)</h3>
                <p>
                    -	Credencial Parte 1 finalizado: 
                    <a href="https://mumuki.io/argentina-programa/certificates/verify/FS1Oap8m1y9-0ytY" aria-label="Read more about Seminole tax hike">Argentina Programa - Parte 1: Sé programar - Oscar Fuentealba</a>
                </p>
            </li>
        </ul>

        <ul>
            <li>
                <h1>Fundamentos de Cisco CCNA</h1>
                <h3>- LinkedIn Learning (2022)</h3>
                <p>
                    -	Credencial: 
                    <a href="https://www.linkedin.com/learning/certificates/dcf56dfd9255fcca3acc3e6e231e11642e9f022e0575c58e12e7abc92b92df78" aria-label="Read more about Seminole tax hike">Fundamentos de Cisco CCNA - Oscar Fuentealba</a>
                </p>
            </li>
        </ul>

        <ul>
            <li>
                <h1>Support IT</h1>
                <h3>- Freelance (2014-2022)</h3>
                <p> Mantenimiento correctivo. Detección de errores. Documentación de consultas frecuentes con sus
                    respectivas respuestas. Configuración y conexión de máquinas a redes informáticas.
                    Configuración y mantenciones de equipos. Asistencia y soporte en forma remota. Instalación y
                    configuración de dispositivos periféricos. Instalación, configuración y soporte de Windows.
                    Detección y eliminación de virus y/o programas espías. Recuperación de datos eliminados o
                    destruidos.
                </p>
            </li>
        </ul>

        <ul>
            <li>
                <h1>Graphic Designer</h1>
                <h3>- Freelance (2018-2022)</h3>
                <p>
                    Adobe Photoshop, Corel Draw, Adobe Premiere, After Effects, Adobe Audition, Vegas Pro, Sound Forge.
                    Diseño de logos, flyers, banners, gigantografías. Diseño audiovisual.
                </p>
            </li>
        </ul>

        <ul>
            <li>
                <h1>Multimedia Producer</h1>
                <h3>- Freelance (2018-2022)</h3>
                <p>
                    Adobe Photoshop, Corel Draw, Adobe Premiere, After Effects, Adobe Audition, Vegas Pro, Sound Forge.
                    Diseño de logos, flyers, banners, gigantografías. Diseño audiovisual.
                </p>
            </li>
        </ul>

    </div>
</div>
