<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png"  alt="" id="logoAP">
        </div>
        <div class="redes">
            <div>
                <a href="https://www.linkedin.com/in/oscarfuentealba1990/" aria-label="Read more about Seminole tax hike"><img
                        src="../../../assets/linkedin.png" alt></a>
                <a href="https://twitter.com/OzFuentealba" aria-label="Read more about Seminole tax hike"><img
                        src="../../../assets/twitter.png" alt=""></a>
                <a href="https://www.instagram.com/OzFuentealba/" aria-label="Read more about Seminole tax hike"><img
                        src="../../../assets/instagram.png" alt=""></a>
                <a href="https://github.com/ozfont" aria-label="Read more about Seminole tax hike"><img
                        src="../../../assets/github.png" alt=""></a>
                <a href="https://www.facebook.com/OzFuentealba/" aria-label="Read more about Seminole tax hike"> <img
                        src="../../../assets/facebook.png" alt=""> </a>
                        <button type="button" class="btn btn-outline-light">INGRESO</button>
            </div>
        </div>
    </div>

</div>

 