<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">

        <ul>
            <li>
                <h1>Support IT</h1>
                <h3>- CiscoAr (2021-Actualidad)</h3>
                <p>
                    Administración de Microsoft Teams. Asignación de usuarios con Powershell. Asignación de números de
                    teléfonos a usuarios con scripts. Configuración de direct routing. Manejo de Powershell. Manejo de
                    GUI. Creación de Auto Attendant. Creación de Call Queue. Creación de servidor VPS en la nube.
                    Instalación de Apache. Creación de subdominios. Administración de redes.
                </p>
            </li>
        </ul>

        <ul>
            <li>
                <h1>Criminalística/Perito Informático</h1>
                <h3>- Policía de Río Negro (2015-Actualidad)</h3>
                <p>
                    Tareas de campo. Confección de informes periciales (Informáticos, accidentológicos, pericias
                    varias). Fotografías periciales. Planimetrías. Pericias de celulares y computadores. Mantenimiento
                    de PC. Conexión en red.
                </p>
            </li>
        </ul>

        <ul>
            <li>
                <h1>Support IT</h1>
                <h3>- Freelance (2014-2022)</h3>
                <p> Mantenimiento correctivo. Detección de errores. Documentación de consultas frecuentes con sus
                    respectivas respuestas. Configuración y conexión de máquinas a redes informáticas.
                    Configuración y mantenciones de equipos. Asistencia y soporte en forma remota. Instalación y
                    configuración de dispositivos periféricos. Instalación, configuración y soporte de Windows.
                    Detección y eliminación de virus y/o programas espías. Recuperación de datos eliminados o
                    destruidos.
                </p>
            </li>
        </ul>

        <ul>
            <li>
                <h1>Graphic Designer</h1>
                <h3>- Freelance (2018-2022)</h3>
                <p>
                    Adobe Photoshop, Corel Draw, Adobe Premiere, After Effects, Adobe Audition, Vegas Pro, Sound Forge.
                    Diseño de logos, flyers, banners, gigantografías. Diseño audiovisual.
                </p>
            </li>
        </ul>

        <ul>
            <li>
                <h1>Multimedia Producer</h1>
                <h3>- Freelance (2018-2022)</h3>
                <p>
                    Adobe Photoshop, Corel Draw, Adobe Premiere, After Effects, Adobe Audition, Vegas Pro, Sound Forge.
                    Diseño de logos, flyers, banners, gigantografías. Diseño audiovisual.
                </p>
            </li>
        </ul>

    </div>
</div>