<div class="row">
    <h1>Hard & Soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="70"
        [radius]="100"
        [imageSrc]=" '../assets/512px-HTML5_logo_and_wordmark.svg.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [titleFontSize]="'2em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="900"
    ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="70"
        [radius]="100"
        [imageSrc]=" '../assets/CSS_Logo.png'"
        [showImage]="true"
        [imageHeight]="98"
        [imageWidth]="70"
        [titleFontSize]="'2em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="900"
    ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="55"
        [radius]="100"
        [imageSrc]=" '../assets/JavaScript-logo.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [titleFontSize]="'2em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="900"
    ></circle-progress>
    </div>


    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="65"
        [radius]="100"
        [imageSrc]=" '../assets/GitHub-Logo.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="140"
        [titleFontSize]="'2em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="900"
    ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="60"
        [radius]="100"
        [imageSrc]=" '../assets/Java.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="55"
        [titleFontSize]="'2em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="900"
    ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="45"
        [radius]="100"
        [imageSrc]=" '../assets/Python.png'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="170"
        [titleFontSize]="'2em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="900"
    ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="40"
        [radius]="100"
        [imageSrc]=" '../assets/Ingles.png'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="90"
        [titleFontSize]="'2em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="900"
    ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="100"
        [radius]="100"
        [imageSrc]=" '../assets/TrabajoEnEquipo.png'"
        [showImage]="true"
        [imageHeight]="110"
        [imageWidth]="110"
        [titleFontSize]="'2em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="900"
    ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="80"
        [radius]="100"
        [imageSrc]=" '../assets/Proactivo.png'"
        [showImage]="true"
        [imageHeight]="110"
        [imageWidth]="110"
        [titleFontSize]="'2em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="900"
    ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="83"
        [radius]="100"
        [imageSrc]=" '../assets/ResolucionProblemas.png'"
        [showImage]="true"
        [imageHeight]="115"
        [imageWidth]="115"
        [titleFontSize]="'2em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="900"
    ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="90"
        [radius]="100"
        [imageSrc]=" '../assets/HabilidadesComunicativas.png'"
        [showImage]="true"
        [imageHeight]="110"
        [imageWidth]="110"
        [titleFontSize]="'2em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="900"
    ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="87"
        [radius]="100"
        [imageSrc]=" '../assets/AdaptacionCambio.png'"
        [showImage]="true"
        [imageHeight]="120"
        [imageWidth]="120"
        [titleFontSize]="'2em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="900"
    ></circle-progress>
    </div>
</div>
