<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">

        <ul>
            <li>
                <h1>Licenciatura en Informática</h1>
                <h3>- Universidad Siglo 21 (2020-2025) - En progreso</h3>
                <p>
                    Título intermedio: Analista en Sistemas (2023)
                </p>
            </li>
        </ul>

        <ul>
            <li>
                <h1>Técnico en Gas y Petróleo</h1>
                <h3>- Instituto Balcarce (2013-2015) - Incompleto</h3>
                <p>

                </p>
            </li>
        </ul>

    </div>
</div>