<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/Foto Perfil_OF.png" class="img-fluid" id="fotodeperfil" alt="">
    </div> 
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Oscar Fuentealba</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <H1>Acerca de mi</H1>
            <p>Experiencia en Soporte IT, instalación de Software y Hardware, Diseño (gráfico y multimedia) y actualmente me encuentro cursando la carrera Lic. en Informática. entre otros cursos de Redes, Teams MS740, Azure AZ900</p>
        </span>
    </div>
</div>
